@page "/loanapplications/edit"
@using LoanApp.Dtos
@using LoanApp.Services.Interfaces
@inject ILoanApplicationService LoanApplicationService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Edit Loan Application Record</PageTitle>

<h1>Edit Loan Application</h1>

<hr />
@if (GetLoanApplication is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="LoanApplication" OnValidSubmit="UpdateLoanApplication" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <input type="hidden" name="LoanApplication.Id" value="@LoanApplication.Id" />
                <div class="mb-3">
                    <label for="applicantname" class="form-label">ApplicantName:</label>
                    <InputText id="applicantname" @bind-Value="LoanApplication.ApplicantName" class="form-control" />
                    <ValidationMessage For="() => LoanApplication.ApplicantName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="loanterm" class="form-label">LoanTerm:</label>
                    <InputNumber id="loanterm" @bind-Value="LoanApplication.LoanTerm" class="form-control" />
                    <ValidationMessage For="() => LoanApplication.LoanTerm" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="loanamount" class="form-label">LoanAmount:</label>
                    <InputNumber id="loanamount" @bind-Value="LoanApplication.LoanAmount" class="form-control" />
                    <ValidationMessage For="() => LoanApplication.LoanAmount" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/loanapplications">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    private UpdateLoanApplicationDto? LoanApplication { get; set; }
    private GetLoanApplicationDto? GetLoanApplication { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id <= 0)
        {
            NavigationManager.NavigateTo("notfound");
            return;
        }

        GetLoanApplication = await LoanApplicationService.GetLoanApplicationByIdAsync(Id);
        if (GetLoanApplication is null)
        {
            NavigationManager.NavigateTo("/notfound");
        }
        else
        {
            // Map GetLoanApplicationDto to UpdateLoanApplicationDto
            LoanApplication = new UpdateLoanApplicationDto
                {
                    Id = GetLoanApplication.Id,
                    ApplicantName = GetLoanApplication.ApplicantName,
                    LoanTerm = GetLoanApplication.LoanTerm,
                    LoanAmount = GetLoanApplication.LoanAmount
                };
        }
    }

    private async Task UpdateLoanApplication()
    {
        if (LoanApplication != null)
        {
            await LoanApplicationService.UpdateLoanApplicationAsync(LoanApplication);
            NavigationManager.NavigateTo("/loanapplications");
        }
    }
}